body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

nav {
    background-color: black;
    margin: 0;
    padding: 2px;
}

li {
   list-style-type: none; 
}

nav li {
    display: inline;
    padding: 0;
    margin-right: 20px;
}

a {
    color: white;
    text-decoration: none;
}

.headerClass {
    text-align: left;
    margin-left: 50px;
    color: white;
}

.headerClass h1 {
    font-size: 300%;
    margin-bottom: 5px;
}

.headerClass h1 span {
    color: green;
}

.headerClass h2 {
    font-size: 200%;
    margin-top: 5px;
}

.aboutClass {
    margin-top: 100px;
    color: white;
    text-align: center;
}

.aboutClass h1 {
    font-size: 300%;
    margin-bottom: 5px;
}

.aboutClass p {
    font-size: 125%;
    margin-top: 10px;
    margin-left: 150px;
    margin-right: 150px;
}

.aboutClass p strong {
    color: green;
}

.proyectsClass {
    color: white;
}

.conocimientosClass ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 0;
}

.conocimientosClass h1 {
    margin-left: 3vh;
}

.conocimientosClass div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactClass {
    color: white;
}

.contactClass h1 {
    margin-left: 3vh;
}

.contactClass li {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contactClass div {
    margin-right: 20px;
}